.hero {
  position: relative;
  overflow: hidden;
  height: 85vh;
  z-index: 100;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 4.3rem;
  z-index: 100;
  width: 100%;
}

.marquee-container {
  position: absolute;
  bottom: 100px;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}

.marquee-text {
  display: block;
  white-space: nowrap;
  animation: marquee 50s linear infinite;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

#date-span {
  color: #854eeb;
  font-weight: 700;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.hero-dot-play {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 100;
}

.hero-dots {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.hero-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #854eeb;
  opacity: 0.2;
  cursor: pointer;
  transition: opacity 0.3s;
}

.hero-dot.dotbg {
  opacity: 1;
}

.hero-dot:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .hero {
    height: 70vh;
    overflow: hidden;
  }

  .hero-text {
    position: absolute;
    font-size: 2.8rem;
  }

  .marquee-container {
    bottom: 150px;
  }

  .marquee-text {
    font-size: 1.75rem;
  }

  .hero-dot {
    width: 20px;
    height: 20px;
    background-color: #fff;
    opacity: 0.5;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 50vh;
  }

  .hero-text {
    font-size: 1.45rem;
  }

  .marquee-container {
    bottom: 100px;
  }

  .marquee-text {
    font-size: 1.3rem;
  }

  .hero-dot {
    width: 15px;
    height: 15px;
  }
}
