.newsletter-section {
  background-color: #f4f4f4;
  padding: 40px 20px;
}

.newsletter-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.follow-us {
  flex: 1;
  text-align: left;
  padding-left: 150px;
}

.follow-us h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.social-icons a {
  font-size: 24px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #854eeb;
}

.footer-links {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.footer-links a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #854eeb;
}

.newsletter-form-container {
  flex: 1;
  text-align: left;
  padding-right: 150px;
}

.newsletter-form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.newsletter-form {
  display: flex;
  align-items: center;
  border: 2px solid #854eeb;
  border-radius: 5px;
  overflow: hidden;
}

.newsletter-form input {
  padding: 10px;
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
}

.newsletter-form button {
  padding: 10px 20px;
  background-color: #854eeb;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.newsletter-form button:hover {
  background-color: #6a39cb;
}

.success-message,
.error-message {
  margin-top: 15px;
  font-size: 16px;
}

.success-message {
  color: green;
  font-size: 20px;
}

.error-message {
  color: red;
  font-size: 20px;
}

.footer-copyright {
  text-align: center;
  margin-top: 20px;
}

.footer-copyright p {
  text-align: center;
  font-size: 20px;
  color: #333;
}

@media (max-width: 768px) {
  .follow-us {
    padding-left: 20px;
  }
  .newsletter-form-container {
    padding-right: 25px;
  }
}

@media (max-width: 480px) {
  .newsletter-content {
    flex-direction: column-reverse;
  }

  .follow-us {
    width: 100%;
    padding-left: 75px;
  }
  .newsletter-form-container {
    width: 100%;
    padding-right: 1px;
  }
  .newsletter-form-container h2 {
    text-align: center;
  }
  .footer-copyright p {
    font-size: 11px;
  }
}
