.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.logo span {
  font-weight: bold;
  font-size: 30px;
  color: #854eeb;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.nav-links ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
  color: #854eeb;
  padding: 13px 18px;
  display: flex;
  align-items: center;
  transition: opacity 0.3s;
}

.nav-links li:nth-child(1) a,
.nav-links li:nth-child(4) a {
  background-color: #854eeb;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
}

.nav-links a:hover {
  opacity: 0.75;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  #root {
    width: 100%;
  }
  .logo {
    padding-top: 30px;
  }

  .hamburger {
    display: block;
    padding-top: 38px;
    font-size: 60px;
  }

  .nav-links li {
    margin-right: 1px;
  }

  .nav-links a {
    padding: 10px 15px;
  }

  .nav-links li:nth-child(1) a,
  .nav-links li:nth-child(4) a {
    background-color: #fff;
    color: #854eeb;
  }

  .nav-links ul {
    flex-direction: column;
    display: none;
  }

  .nav-links.open ul {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 113px;
    left: 240px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    padding: 8px 10px;
  }
  .nav-links li {
    margin: 0;
    padding: 10px 10px;
    font-weight: 800;
    font-size: 25px;
  }

  .nav-links li a {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .nav-links li:nth-child(1) a,
  .nav-links li:nth-child(4) a {
    background-color: #fff;
    color: #854eeb;
    border-radius: 0;
  }
}

@media (max-width: 480px) {
  #root {
    width: 100%;
  }
  .logo {
    padding-top: 15px;
    padding-left: 0;
  }

  .logo img {
    margin-right: 5px;
  }

  .logo span {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    padding-top: 17.5px;
    font-size: 45px;
  }

  .nav-links a {
    padding: 10px 15px;
  }

  .nav-links li:nth-child(1) a,
  .nav-links li:nth-child(4) a {
    background-color: #fff;
    color: #854eeb;
  }

  .nav-links ul {
    flex-direction: column;
    display: none;
  }

  .nav-links.open ul {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 66px;
    left: 80px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    padding: 8px 10px;
  }
  .nav-links li {
    margin: 0;
    padding: 5px 10px;
    font-weight: 650;
    font-size: 23px;
  }

  .nav-links li a {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .nav-links li:nth-child(1) a,
  .nav-links li:nth-child(4) a {
    background-color: #fff;
    color: #854eeb;
    border-radius: 0;
  }
}
