.media-partners-section {
  padding: 40px 20px;
  text-align: center;
  background-color: rgb(131, 76, 232);
}

.media-partners-section h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.media-partner-logo {
  padding: 10px;
}

.media-partner-logo img {
  max-width: 100%;
  max-height: 120px;
  display: block;
  margin: 0 auto;
}

.media-partner-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  color: #854eeb;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color color 0.3s;
}

.media-partner-button:hover {
  background-color: #854eeb;
  color: #fff;
  opacity: 0.75;
}
