<div class="investors_wrapper">
  <h2 class="heading-l text-align-center">Official Partners</h2>
  <div class="slick-slider slick-initialized" dir="ltr">
    <button
      type="button"
      data-role="none"
      class="slick-arrow slick-prev"
      style="display: block"
    >
      Previous
    </button>
    <div class="slick-list">
      <div
        class="slick-track"
        style="
          width: 11704px;
          opacity: 1;
          transform: translate3d(-4522px, 0px, 0px);
        "
      >
        <div
          data-index="-4"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/BCH-removebg-preview.png"
                loading="lazy"
                alt="BCH Club"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="-3"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/Hammer-removebg-preview.png"
                loading="lazy"
                alt="Hammer"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="-2"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/Hordanso-removebg-preview.png"
                loading="lazy"
                alt="Hordanso"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="-1"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/Fomo-removebg-preview.png"
                loading="lazy"
                alt="Fomo"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="0"
          class="slick-slide"
          tabindex="-1"
          aria-hidden="true"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/Tokenizer-removebg-preview.png"
                loading="lazy"
                alt="The Hub "
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="1"
          class="slick-slide"
          tabindex="-1"
          aria-hidden="true"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/-Stacked-MoonGate logo_green_white-1.svg"
                loading="lazy"
                alt="Moongate"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="2"
          class="slick-slide"
          tabindex="-1"
          aria-hidden="true"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/reality+.png"
                loading="lazy"
                alt="Fomoweekly"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="3"
          class="slick-slide"
          tabindex="-1"
          aria-hidden="true"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="imgg/web3nifty.png"
                loading="lazy"
                alt="Reality+"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="4"
          class="slick-slide"
          tabindex="-1"
          aria-hidden="true"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/BlockX-removebg-preview.png"
                loading="lazy"
                alt="Hordanso LLC"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="5"
          class="slick-slide"
          tabindex="-1"
          aria-hidden="true"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/20231026_140002-removebg-preview.png"
                loading="lazy"
                alt="Pitchtalk"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="6"
          class="slick-slide"
          tabindex="-1"
          aria-hidden="true"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/20231026_140106-removebg-preview.png"
                loading="lazy"
                alt="FABC"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="7"
          class="slick-slide"
          tabindex="-1"
          aria-hidden="true"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/20231026_143028-removebg-preview.png"
                loading="lazy"
                alt="Tokenizer"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="8"
          class="slick-slide"
          tabindex="-1"
          aria-hidden="true"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/Blockchain_University_Gusau-removebg-preview.png"
                loading="lazy"
                alt="Ghana Block"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="9"
          class="slick-slide"
          tabindex="-1"
          aria-hidden="true"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/BlockX-removebg-preview.png"
                loading="lazy"
                alt="Blockchain University"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="10"
          class="slick-slide"
          tabindex="-1"
          aria-hidden="true"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/centauri_consortium-removebg-preview.png"
                loading="lazy"
                alt="Africa Blockchain center"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="11"
          class="slick-slide"
          tabindex="-1"
          aria-hidden="true"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/FABC-removebg-preview.png"
                loading="lazy"
                alt="FABC"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="12"
          class="slick-slide"
          tabindex="-1"
          aria-hidden="true"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/Ghana_Block-removebg-preview.png"
                loading="lazy"
                alt="Ghana Block"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="13"
          class="slick-slide slick-active slick-current"
          tabindex="-1"
          aria-hidden="false"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/THE HUB LOGO.svg"
                loading="lazy"
                alt="NerdwareX"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="14"
          class="slick-slide slick-active"
          tabindex="-1"
          aria-hidden="false"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/wib_africa 1@3x.png"
                loading="lazy"
                alt="Africa Blockchain Center"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="15"
          class="slick-slide slick-active"
          tabindex="-1"
          aria-hidden="false"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/Untitled20_20220815120058-removebg-preview.png"
                loading="lazy"
                alt="NGG"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="16"
          class="slick-slide slick-active"
          tabindex="-1"
          aria-hidden="false"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/BCH-removebg-preview.png"
                loading="lazy"
                alt="BCH Club"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="17"
          class="slick-slide"
          tabindex="-1"
          aria-hidden="true"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/Hammer-removebg-preview.png"
                loading="lazy"
                alt="Hammer"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="18"
          class="slick-slide"
          tabindex="-1"
          aria-hidden="true"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/Hordanso-removebg-preview.png"
                loading="lazy"
                alt="Hordanso"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="19"
          class="slick-slide"
          tabindex="-1"
          aria-hidden="true"
          style="outline: none; width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/Fomo-removebg-preview.png"
                loading="lazy"
                alt="Fomo"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="20"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/Tokenizer-removebg-preview.png"
                loading="lazy"
                alt="The Hub "
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="21"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/-Stacked-MoonGate logo_green_white-1.svg"
                loading="lazy"
                alt="Moongate"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="22"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/reality+.png"
                loading="lazy"
                alt="Fomoweekly"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="23"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="imgg/web3nifty.png"
                loading="lazy"
                alt="Reality+"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="24"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/BlockX-removebg-preview.png"
                loading="lazy"
                alt="Hordanso LLC"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="25"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/20231026_140002-removebg-preview.png"
                loading="lazy"
                alt="Pitchtalk"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="26"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/20231026_140106-removebg-preview.png"
                loading="lazy"
                alt="FABC"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="27"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/20231026_143028-removebg-preview.png"
                loading="lazy"
                alt="Tokenizer"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="28"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/Blockchain_University_Gusau-removebg-preview.png"
                loading="lazy"
                alt="Ghana Block"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="29"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/BlockX-removebg-preview.png"
                loading="lazy"
                alt="Blockchain University"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="30"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/centauri_consortium-removebg-preview.png"
                loading="lazy"
                alt="Africa Blockchain center"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="31"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/FABC-removebg-preview.png"
                loading="lazy"
                alt="FABC"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="32"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/Ghana_Block-removebg-preview.png"
                loading="lazy"
                alt="Ghana Block"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="33"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/THE HUB LOGO.svg"
                loading="lazy"
                alt="NerdwareX"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="34"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/wib_africa 1@3x.png"
                loading="lazy"
                alt="Africa Blockchain Center"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="35"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/Untitled20_20220815120058-removebg-preview.png"
                loading="lazy"
                alt="NGG"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="36"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/BCH-removebg-preview.png"
                loading="lazy"
                alt="BCH Club"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="37"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/Hammer-removebg-preview.png"
                loading="lazy"
                alt="Hammer"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="38"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/Hordanso-removebg-preview.png"
                loading="lazy"
                alt="Hordanso"
                class="logo_image"
              />
            </div>
          </div>
        </div>
        <div
          data-index="39"
          tabindex="-1"
          class="slick-slide slick-cloned"
          aria-hidden="true"
          style="width: 266px"
        >
          <div>
            <div
              class="logo-card"
              tabindex="-1"
              style="width: 100%; display: inline-block"
            >
              <img
                src="/imgg/Fomo-removebg-preview.png"
                loading="lazy"
                alt="Fomo"
                class="logo_image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      type="button"
      data-role="none"
      class="slick-arrow slick-next"
      style="display: block"
    >
      Next
    </button>
  </div>
  <div class="text-align-center"><div class="heading-m"></div></div>
  <div class="button-group is-center">
    <div class="waitlist-modal_btn">
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSc-ieND9GPFt1SHou0vVDRGy1Kh6YTPoM3SJvO0QIUFx_Qoww/viewform"
        class="secondary-button w-button"
        style="
          align-items: center;
          place-content: center;
          display: flex;
          flex-direction: row;
          left: 48.5%;
          position: relative;
        "
        >Become a Sponsor</a
      >
    </div>
    <div
      id="w-node-e6716282-0155-f796-c274-93233fe90899-3c6bddfa"
      class="sponsor-modal_btn"
    ></div>
  </div>
</div>
